p = I18n.t('devise.mailer.reset_password_instructions.hello', email: @resource.email)

p = I18n.t('devise.mailer.reset_password_instructions.message')

p
  = link_to I18n.t('devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token)

p = I18n.t('devise.mailer.reset_password_instructions.ignore')

p = I18n.t('devise.mailer.reset_password_instructions.note')

